@section Styles{
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&family=Forum&family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/6da635e2db.js" crossorigin="anonymous"></script>
    <link href="~/css/catalog.css" rel="stylesheet">
}

<body>
    <div id="catalogTitle">
        <div id="titleMain">
            <i class="fab fa-gg diamonds"></i>
            <h1>Exclusive Rental Properties</h1>
            <i class="fab fa-gg diamonds"></i>
        </div>
        <h2>Cohort Twevle Realty, Palm Beach</h2>
    </div>
        <div id="showCase">
            <h1 id="logoC">CR</h1>
            <div id="listings">
            </div>
        </div>
</body>

@section Scripts {
    <script src="/js/catalog.js"></script>
}