@section Styles{
    <link href="~/css/catalog.css" rel="stylesheet">
}


<h1>Our Amazing Catalog</h1>
@* Homework *@
@* Show your rental properties here!!!! *@
<h2>Rental Properties</h2>

    <div id="listings">
        @* Smaller Images!!! 300x400? *@
        @* Use Icons in display.  *@
    </div>




@section Scripts {
    <script src="/js/catalog.js"></script>
}